
 
  
body [size="A4"]{
    width: 297px;
    height: 210px;
}

main {
    display: block;
  }

h1, h2, p {
    text-align: center;
}

h1 {
    font-family: 'Roboto Slab Regular', arial;
}

h2 {
font-family: 'Noto Sans Italic', arial;
}

p {
font-size: x-large;
font-family: 'Noto Sans', arial;
}

.clock {
  padding-top: 10mm;
    position: relative;
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: justify;
}

img {
    width: 140px;
    height: 140px;  
}
